/* global fonts and background color */
body {
    background-color: #f0ffff;
    font-family: Arial;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
}
p {
    font-family: Arial, Helvetica, sans-serif;
}

/* Mission statement */
.mission-statement-title{
   text-align: center; 
}
#get-away-from-border{
    text-align: justify;
    position: sticky;
    margin-left: 165px;
}


/* title */
#title-bar {
    height: 100%;
    width: 99.5%;
    border: solid;
    border-width: thick;
}
#rest{
    background: linear-gradient(to left, red, orange, 
    yellow, green, blue,
    indigo, purple, violet);
}
#background-title{
    color: antiquewhite;
}
#title-text {
    text-align: center;
}

/* slide dark or light */
.main-content{
   flex: 1;
   text-align: right; 
}
#moon-icon {
    width: 20px;
    cursor: pointer;
}
#hover-me{
    display: none;
    font-size: small;
}#moon-icon:hover~#hover-me {
    display: block;
}
