#background{
    font-family: Arial, Helvetica, sans-serif;
}

.main-content{
    flex: 1;
    text-align: right; 
}
#moon-icon {
    width: 20px;
    cursor: pointer;
}
#hover-me{
    display: none;
    font-size: small;
}#moon-icon:hover~#hover-me {
    display: block;
}
.title-socials{
    border-style: solid;
    height: 900px;
    border-width: 25px, 10px, 4px, 35px; 
}
#center-socials-title{
    text-align: center;
}
#image-insta{
    width: 300px;
    height: auto;
    border-radius: 5px;
    margin-left: 800px;
}
#button-back{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    height: 100px;
    width: 10%;
}#button-back:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
